@using CustomersAJAX.Models
@model Tuple<List<Customer>, Customer>

@{
    Layout = "~/VIews/Shared/_Layout.cshtml";
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "customerInfo"
    };
}

@using (Ajax.BeginForm("OnSelectCustomer", "Customer", ajaxOptions, new { id = "customerForm" } ))
{
    @Html.AntiForgeryToken();

    var selected = false;

    foreach(var customer in Model.Item1)
    {
        if(Model.Item2 == customer)
        {
            selected = true;
        }
        else
        {
            selected = false;
        }

        @Html.RadioButton("CustomerNumber", customer.ID, selected, new { onchange = "$('#customerForm').trigger('submit')" } );
        @Html.Label(customer.Name);
        <br />
    }
    <input type="submit" id="SubmitButton" value="Display Details" />
}
<!--Insert a partial view here. Show customer details. Pass the second item of the tuple model-->

<div id="customerInfo">
    @Html.Partial("~/Views/Shared/_CustomerDetails.cshtml", Model.Item2)
</div>